[submodule "external_libs/multi"]
	path = external_libs/multi
	url = https://gitlab.com/npneq/boost-multi.git

[submodule "external_libs/pseudopod"]
	path = external_libs/pseudopod
	url = https://gitlab.com/npneq/pseudopod.git
[submodule "external_libs/boost-mpi3"]
	path = external_libs/mpi3
	url = https://gitlab.com/npneq/boost-mpi3.git
[submodule "external_libs/libxc"]
	path = external_libs/libxc
	url = https://gitlab.com/npneq/libxc.git
[submodule "external_libs/sharmonic"]
	path = external_libs/sharmonic
	url = https://gitlab.com/npneq/sharmonic.git
[submodule "external_libs/libpaw_interface"]
	path = external_libs/libpaw_interface
	url = https://gitlab.com/npneq/libpaw-interface.git
[submodule "external_libs/libaw_interface"]
	path = external_libs/libaw_interface
	url = https://gitlab.com/npneq/libpaw-interface.git
