#required packages:
#    - time apt update -qq
#    - time apt install --no-install-recommends -y -qq ssh g++ gfortran clang autoconf make automake libgsl-dev libblas-dev liblapack-dev libfftw3-dev libxc-dev libopenmpi-dev openmpi-bin libboost-all-dev
#    - time apt install --no-install-recommends -y -qq nvidia-cuda-toolkit nvidia-cuda-dev nvidia-smi

image: debian:testing

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CXXFLAGS: "-O3 -pipe"
  OMPI_ALLOW_RUN_AS_ROOT: 1
  OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1

gcc:
    stage: build
    script:
      - mpic++ --version
      - time autoreconf -i
      - mkdir build
      - cd build
      - time ../configure -prefix=$HOME
      - time make -j4 install
      - time src/inq_unit_tests
      - time mpirun -np 2 --oversubscribe src/inq_unit_tests
      - time mpirun -np 3 --oversubscribe src/inq_unit_tests
      - time mpirun -np 4 --oversubscribe src/inq_unit_tests
      - src/inq_hydrogen_local

clang:
    stage: build
    script:
      - clang++ --version
      - time autoreconf -i
      - mkdir build
      - cd build
      - export OMPI_CXX=clang++
      - time ../configure -prefix=$HOME
      - time make -j4 install
      - time src/inq_unit_tests
      - time mpirun -np 2 --oversubscribe src/inq_unit_tests
      - time mpirun -np 3 --oversubscribe src/inq_unit_tests
      - time mpirun -np 4 --oversubscribe src/inq_unit_tests
      - src/inq_hydrogen_local      

nvcc:
    stage: build
    script:
      - export PATH=/usr/local/cuda/bin:$PATH
      - nvcc -V
      - time autoreconf -i
      - mkdir nvcc
      - cd nvcc
      - export CXX="nvcc -x cu"
      - export CXXLD="nvcc"
      - export CXXFLAGS="$(for x in `mpic++ --showme:incdirs`; do echo -n -I$x" " ; done) -D_DISABLE_CUDA_SLOW -O3 --expt-relaxed-constexpr --expt-extended-lambda --Werror=cross-execution-space-call --compiler-options -std=c++14,-Wall,-Wfatal-errors"
      - export LDFLAGS=$(for x in `mpic++ --showme:libdirs`; do echo -n -L$x" " ; done)
      - export LIBS=$(for x in `mpic++ --showme:libs`; do echo -n -l$x" " ; done)
      - time ../configure -prefix=$HOME || cat config.log
      - time make -j4
      - time src/inq_unit_tests
      - time mpirun -np 2 --oversubscribe src/inq_unit_tests
      - time mpirun -np 3 --oversubscribe src/inq_unit_tests
      - time mpirun -np 4 --oversubscribe src/inq_unit_tests
      - src/inq_hydrogen_local


clang_cuda:
    stage: build
    script:
      - export PATH=/usr/local/cuda/bin:$PATH
      - clang++-9 -V
      - time autoreconf -i
      - mkdir clang_cuda
      - cd clang_cuda
      - export CXX="clang++-9 -x cuda --cuda-gpu-arch=sm_60"
      - export CXXLD="clang++-9"
      - export CXXFLAGS=" $(for x in `mpic++ --showme:incdirs`; do echo -n -I$x" " ; done) -g -pg -D_DISABLE_CUDA_SLOW -O3 -DNEBUG -std=c++14 -Wall -Wfatal-errors"
      - export LDFLAGS=$(for x in `mpic++ --showme:libdirs`; do echo -n -L$x" " ; done)
      - export LIBS=$(for x in `mpic++ --showme:libs`; do echo -n -l$x" " ; done)
      - time ../configure -prefix=$HOME || cat config.log
      - time make -j4
      - time src/inq_unit_tests
      - time mpirun -np 2 --oversubscribe src/inq_unit_tests
      - time mpirun -np 3 --oversubscribe src/inq_unit_tests
      - time mpirun -np 4 --oversubscribe src/inq_unit_tests
      - src/inq_hydrogen_local
      