image: debian:testing

before_script:
    - perl -pi -e 's/main/main contrib non-free/g' /etc/apt/sources.list
    - time apt update -qq
    - time apt install --no-install-recommends -y -qq g++ gfortran clang autoconf make automake libgsl-dev libblas-dev liblapack-dev libfftw3-dev libxc-dev

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CXXFLAGS: "-O3"

gcc:
    stage: build
    script:
      - g++ --version
      - time autoreconf -i
      - mkdir build
      - cd build
      - time ../configure -prefix=$HOME
      - time make install
      - time src/inq_unit_tests

clang:
    stage: build
    script:
      - clang++ --version
      - time autoreconf -i
      - mkdir build
      - cd build
      - export CXX=clang++
      - time ../configure -prefix=$HOME
      - time make install
      - time src/inq_unit_tests

nvcc:
    stage: build
    script:
      - time apt install --no-install-recommends -y -qq nvidia-cuda-toolkit nvidia-cuda-dev
      - nvcc -V
      - time autoreconf -i
      - mkdir nvcc
      - cd nvcc
      - export CXX="nvcc -x cu"
      - export CXXLD="nvcc"
      - export CXXFLAGS="-D_DISABLE_CUDA_SLOW -O3 --expt-relaxed-constexpr --expt-extended-lambda --Werror=cross-execution-space-call --compiler-options -std=c++14,-Wall,-Wfatal-errors"
      - time ../configure -prefix=$HOME || cat config.log
      - time make
